@media(max-width: 1280px) { 
    html {
        font-size: 50%;
    }

    .header {
        padding: var(--mobile-padding);
    }

    .home .texto-home,
    .home .img-home {
        flex: 0 0 1000%;
        max-width: 100%;
        text-align: center;
        padding: 0 var(--mobile-padding);
    }

    .home .img-home {
        margin-top: 50px;
    }

    .sobre-mim .imagem-sobre-mim {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .habilidades .container-habilidades {
        grid-template-columns: 1fr;
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .habilidades .container-habilidades .logos {
        gap: 30px;
    }

    .projetos .container-projetos {
        grid-template-columns: 1fr;
        padding: 0 var(--mobile-padding);
    }
}